<h1>Listing cows</h1>

<table id="cow_list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Breed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cows.each do |cow| %>
    <%= render 'cow', cow: cow %>
    <% end %>
  </tbody>
</table>

<br>

<h2>Add a new cow</h2>
<%= render 'form' %>

<div id="feedback_messages">
</div>

<script>
$(document).ready(function(){
  $(document).on('ajax:success', function(event, data){
    //log target explicitly so we can see it easily
    console.log(event.target);
    console.log(event.target.tagName);
    console.log(event.target.className);
    console.log(event);
    console.log(data);
    /* 
    Here you could examine event.target to see which 
    link / button / form was originator of the ajax call
    Rails generates a form around button_to which 
    complicates things slightly
    */

    if(event.target.className == 'age_cow') {
      // find the cow and replace the content of the age field
      // data is json in this case (because that's how we set up the age method in cows controller)
      var newAge = data.age;
      var cowId = data.id;
      var selector = 'tr#cow_' + cowId + ' td.age';
      $(selector).html(newAge);
    }

    if(event.target.className == 'new_cow') {
      // cows#new returns an html snippet so we'll append it to the cows table
      $('table#cow_list').append(data);
    }


  })
});
</script>